/* Button.css */

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: #e1f5fe; /* light blue */
  text-align: center;
  transition: transform 0.2s ease;
  padding: 8px 16px; /* smaller padding */
  border-radius: 4px; /* rounded edges */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 19px; /* Add space between buttons */
}

.button:last-child {
  margin-right: 0; /* No margin for the last button */
}

.button:hover {
  transform: scale(1.05);
}

.button img {
  max-width: 100px; /* smaller image size */
  height: auto;
  margin-right: 8px; /* Add space between image and text */
}

.button p {
  margin: 0;
  font-size: 28px;
  color: #333;
}
