.navbar {
    width: 100%;
    height: 100px;
    background: #21325e;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.image {
    width: 75x;
    height: 75px;
    margin: -6px;
    margin-right: 16px;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}


.justify-front{
    display: flex;
    justify-content: flex-start;
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.white{
    color: white;
}

.head-text {
    font-size: 3rem; /* Equivalent to text-3xl */
    font-weight: 600; /* Equivalent to font-semibold */
    line-height: 2; /* Equivalent to sm:leading-snug */
    margin-left: 32px;
}