.sidebar {
    margin-left: auto;
    width: 120px;
    min-height: 87.4vh;
    background: #21325e;
}

.sideimage {
    width: 75x;
    height: 75px;
    margin: 10px;
    margin-right: 22px;
    margin: 22px;
}