.home {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: flex;
  }
  
  .buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust as per design */
    grid-gap: 16px; /* Adjust the gap as necessary */
    padding: 16px; /* Adjust the padding as necessary */
  }
  
 