.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin-top: 200px;
    color: #3e497a;
    font-size: 35px;
  }
  .project img {
    width: 700px;
    border-radius: 15px;
  }
  
  .project p {
    font-size: 30x;
    color: #3e497a;
    text-align: center;
  }
  
  .project svg {
    font-size: 30px;
    color: #3e497a;
  }